.container {
    max-width: 1300px;
}


.container h2 {
    margin: 3% 0;
}


.imgGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}




