.header {
    margin-top: 5%;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

h3, 
p {
    font-family: 'Open Sans';
}



